{% extends "layout/basic.html" %}

{% block content %}
<div id="main-content">
                    <div id="action-area-top"></div>
                    
                    
                        <div id="page-title" style="text-align: center;">
                            Список особенностей
                        </div>
                    
                    <div id="page-content">


<p><div>
			{% if category_list %}
		    <ul>
		    {% for category in category_list %}
		        <li><a href="{% url 'categories' category.id %}">{{ category.cat_type }}</a></li>
		    {% endfor %}
		    </ul>
			{% else %}
		    	<p>No categories are available.</p>
			{% endif %}
		</div></p>
{% endblock %}