{% extends "layout/basic.html" %}

{% block content %}
<div id="main-content">
                    <div id="action-area-top"></div>
                    
                    
                        <div id="page-title" style="text-align: center;">
                            Добавление объекта в базу данных
                        </div>
                    
                    <div id="page-content">


<p><form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" name="Добавить" value="Добавить дебика">
		</form></p>
</div>
{% endblock %}