{% extends "layout/basic.html" %}

{% block content %}
<div id="main-content">
                    <div id="action-area-top"></div>
                    
                    
                        <div id="page-title" style="text-align: center;">
                            Досье на объект {{ dossier.name }}
                        </div>
                    
                    <div id="page-content">


<div class="scp-image-block block-right" style="width:300px;"><img src="{{ dossier.photo.url }}" style="width:300px;" alt="SCP-003a-new.jpg" class="image">

<div class="scp-image-caption" style="width:300px;">
<p>Фото объекта {{ dossier.name }}</p>
</div>
</div>
<p><strong>Объект №:</strong> {{ dossier.id }}</p>
<p><strong>Особенность объекта:</strong>
    {% for category in categories %}
            <a href="/category/{{ category.id }}">{{ category.cat_type }} </a>
    {% endfor %}</p>
<p><strong>Снаряжение объекта:</strong> 
    {% for prop in props %}
            <a href="/property/{{ prop.id }}">({{ prop.name }})</a>
        {% endfor %}</p>

<p><strong>Описание:</strong> {{ dossier.description }}</p>
{% endblock %}
                