<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Досье</title>
		<style>
			body { background: url({{ prop.photo.url }});
				background-position: top center;
				background-repeat: no-repeat;
				font-size: xx-large;
				}
			p { margin-top: 1.5em; }
			figure { float: right; }
			a { text-decoration: none; /* Отменяем подчеркивание у ссылки */
			   } 
		</style>
	</head>
	<body>
		<div>
		<a href="{% url 'index' %}">Главная</a>
		</div>		
		<h1>Объект номер {{ dossier.id }} : {{ dossier.name }}</h1>
		{% if dossier.photo %}
		<figure>
			<img src="{{ dossier.photo.url }}" height="600">
		</figure>
		{% endif %}
		Описание: {{ dossier.description}} 
		<p>
		
		<br>
			Классификация:
		{% for cat in cats %}
			<a href="/category/{{ category.id }}">{{ category.cat_type }} </a>
			
		{% endfor %}
		{% for prop in props %}
			<br>Снаряжение:
			<a href="/property/{{ prop.id }}">{{ prop.name }}</a>
			
		{% endfor %}
		</p>
	</body>
	</html> 


	