{% extends "layout/basic.html" %}

{% block content %}
<div id="main-content">
                    <div id="action-area-top"></div>
                    
                    
                        <div id="page-title" style="text-align: center;">
                            Список объектов
                        </div>
                    
                    <div id="page-content">


<p><div>
			{% if dossier_list %}
		    <ul>
		    {% for dossier in dossier_list %}
		        <li><a href="{% url 'detail' dossier.id %}">{{ dossier.name }}</a></li>
		    {% endfor %}
		    </ul>
			{% else %}
		    	<p>No dossiers are available.</p>
			{% endif %}
		</div></p>
{% endblock %}