

<html xml:lang="ru" lang="ru">
{% load static %}
<head>
    <title>База данных</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="content-language" content="ru">
    <style type="text/css" id="internal-style">
                
        /* theme */
                    @import url(http://d3g0gp89917ko0.cloudfront.net/v--3e3a6f7dbcc9/common--theme/base/css/style.css);
                    @import url(http://scp-ru.wdfiles.com/local--code/component:theme2/1);
            </style>
    <!-- <style type="text/css" id="internal-style">
                
        /* theme */
                    @import "static/style1.css";
                    @import "static/style.css";
            </style> -->
     
    <!-- <link rel="stylesheet" type="text/css" 
        href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" 
        href="{% static 'style1.css' %}"> -->


</head>
<body id="html-body">
<div id="skrollr-body">
<a name="page-top"></a>

<div id="container-wrap-wrap">
    <div id="container-wrap">
        <div id="container">
            <div id="header">
              <h1><a href="/"><span>База данных</span></a></h1>

                    <h2><span>Краснодарские дебики</span></h2>

                    <div id="top-bar">

<div class="list-pages-box">    <div class="list-pages-item">
</div>
    </div>
    </div></div>
                    </div>
                
                
            
            <div id="content-wrap">
                    <div id="side-bar">                        
<div class="side-block">
<div class="heading">
<p>Меню</p>
</div>
<div class="menu-item"><a href="{% url 'index' %}">Главная страница</a></div>
<div class="menu-item"><a href="{% url 'add' %}">Создание нового объекта</a></div>
<div class="menu-item"><a href="{% url 'dossier_list' %}">Список объектов</a></div>
<div class="menu-item"><a href="{% url 'category_list' %}">Список особенностей</a></div>
<div><ul class="sidebar-nav">

   {% if user.is_authenticated %}
     <li>Ваше имя: {{ user.get_username }}</li>
     <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
   {% else %}
     <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
   {% endif %} 
</ul></div>
</div>
    </div></div>
                    </div>
{% block content %}

{% endblock %}


</div>
</body>
</html>